.container-cards-group {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-card {
    margin: 15px;
    width: 55%;
    display: flex;
    border-radius: 10px;
    background-color: #eeeded;
    @media (max-width: 1024px) {
        padding: 10px;
        flex-direction: column;
        align-items: center;
        width: 60%;
    }
}

.card-image {
    margin-top: 10px;
    width: 180px;
    height: 180px;

    @media (max-width: 600px) {
        margin-top: 0px;
        width: 120px;
        height: 180px;
    }
}

.card-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1;
    font-family: "Dosis", sans-serif;

}

.card-title {
    text-transform: uppercase;
    font-style: italic;
    font-size: 26px;
    color: red;
}

.card-main {
    color: red;
    font-style: italic;
    font-size: 18px;
    margin: 15px;
}