.container-cards-group{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-card{
    margin: 15px;
    width: 45%;
    display: flex;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 5px gray;
}

.card-image {
    margin-top: 10px;
    width: 180px;
    height: 180px;
}

.card-text {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    text-align: center;
    flex: 1; /* Esto hace que el contenedor ocupe el espacio restante junto a la imagen */
    font-family: "Dosis", sans-serif;

}

.card-title{
    text-transform: uppercase;
    font-style: italic;
    font-size: 20px;
    color: red;
}

.card-main{
    color: red;
    font-style: italic;
    font-size: 16px;
    margin: 15px;
}
