.container{
    display:  flex;
    justify-content: space-around;
}
.recorridos-container{
    background-color: rgb(232, 217, 213);
    border-radius: 15px;
    box-shadow: 5px 5px 5px gray;
}

.description-recorridos p{
    margin: 15px;
    font-family: 34px;
    font-style: italic;
}

.LogoRecorridos{
    height: 450px;
    width: 450px;
}


