.nav-header {
    display: flex;
    justify-content: space-between;
}

.Logo,
.icon-login {
    margin: 10px;
    width: 150px;
    height: 150px;
}

.nav-header-list {
    margin: 10px;
    display: flex;
    list-style: none;
    justify-content: space-around;

}

.list-nav{
    padding: 10px;
    color: linear;
    background: linear-gradient(to bottom, rgb(223, 199, 199), red, rgb(170, 149, 149)); /* Degradado */
    box-shadow: 5px 5px 5px rgb(163, 153, 153);
}

.list-nav ul{
    display: flex;
    justify-content: space-around;
}

.list-nav ul li{
    margin: 10px;
    color: white;
    font-family: "Bebas Neue", sans-serif;
    font-size: 26px;
}

.welcome-header {
    margin-top: 45px;
    display: flex;
    color: red;
    justify-content: center;
    font-family: "Bebas Neue", sans-serif;
    font-style: italic;
    font-size: 46px;
    font-weight: bold; /* Para engrosar el texto */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Sombras */
}
