.description-recorridos{
    font-size: 18px;
    margin: 5px;
    display: flex;
    justify-content: center;
}
.recorrido{
    margin: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(175, 169, 169);
    border-radius: 0.5rem;
    padding-left: 0.2rem;
}

.image-recorrido{
    border-radius: 10px;
    margin: 5px;
    background-image: url("../../../Imagenes/LogoAmazona.png");
    width: 3.5rem;

}
.desc-recorrido{
    display: flex;
    align-items: center;
    flex-direction: column;
}