*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

body, #root {
  display: flex; 
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}